<div class="row">
    <div class="col">
        <input type="text" class="form-control" (keyup)="searchArtist(pattern.value)" placeholder="Search for an artist" #pattern>
    </div>
</div>


<!-- <div class="row row-cols-1 row-cols-md-3 g-4 mb-3">
    @for (artist of artists; track $index) {
      <div class="col">
        <div class="card h-100">
          <img [src]="artist.images | noimage" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">
              {{artist.name}}
            </h5>
          </div>
        </div>
      </div>
    }
</div> -->
@if(isLoading){
  <app-loading class="m-5"></app-loading>
} @else {
  <app-cards [items]="artists"></app-cards>
}