<div class="row row-cols-1 row-cols-md-3 g-4 m-5 animated fadeIn">
    @for (item of items; track $index) {
      <div class="col">
        <div class="card h-100 puntero" (click)="seeArtist(item)">
          <img [src]="item.images | noimage" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">
              {{item.name}}
            </h5>
            <p class="card-text">
              @for (artist of item.artists; track $index) {
                <span class="badge text-bg-primary">{{artist.name}}</span>
              }
            </p>
          </div>
        </div>
      </div>
    }
</div>